.header__logo {
  margin-right: 93px;
}

/* Header */
.header {
  border-bottom: 1px solid var(--border-first-color);
}

.nav-list {
  display: flex;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}
.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-text-color);
  transition: color var(--animation-time) var(--animation-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav-list__link--current {
  color: var(--accent-color);
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }
}

.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-text-color);
  transition: color var(--animation-time) var(--animation-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
