.preferences-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.preferences-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
  }
}

.preferences-list__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-third-color);
  height: 120px;
  margin-bottom: 30px;
}
.preferences-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.preferences-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
