.container {
  margin: 0 auto;
  @media screen and (max-width: 479px) {
    padding: 0 15px;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 15px;
  }
}
.container--center {
  display: flex;
  align-items: center;
}
.container--baseline {
  display: flex;
  align-items: baseline;
}
