.logo {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo--dark {
  color: var(--logo-first-color);
}
.logo--light {
  color: var(--logo-second-color);
}
