body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-first-color);
  color: var(--primary-text-color);
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
  height: 100%;
  &.is-hidden {
    overflow: auto;
  }
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
