body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-first-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
