:root {
  --accent-color: #2196f3;
  --primary-heading-color: #212121;
  --secondary-heading-color: #ffffff;
  --primary-text-color: #757575;
  --contacts-text-color: #757575;
  --nav-text-color: #212121;
  --secondary-text-color: #ffffff;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --logo-first-color: #000000;
  --logo-second-color: #ffffff;
  --bg-first-color: #ffffff;
  --bg-second-color: #2f303a;
  --bg-third-color: #f5f4fa;
  --border-first-color: #ececec;
  --border-second-color: #eeeeee;
  --section-padding: 94px;
  --icon-first-color: #afb1b8;
  --icon-second-color: #ffffff;
  --overlay-bg-first-color: rgba(47, 48, 58, 0.8);
  --overlay-bg-second-color: rgba(33, 150, 243, 0.9);
  --overlay-bg-third-color: rgba(0, 0, 0, 0.2);
  --overlay-text-color: #ffffff;
  --animation-time: 250ms;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
